body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #1e1e1e;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
}

.result p {
  font-size: 1.2rem;
  font-weight: bold;
}
